
:root {
    --blue-color: #96dfff ;
}
.big{
    background-color: #fff;
    width: 100%;
    height: auto;
}


header{
    display: flex;
    background-color: var(--blue-color);
    margin-top: -1em;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-between;
}
div{
    display: block;
}
section{
    margin-top: 50px;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    height: 50px;
    margin-block-start: 2em;
    margin-inline-start: -9px;
    margin-inline-end: -9px;
}

.title{
    margin-left: 30px;
    
    
}

.title2{
    display: flex;
    background-color: white;
    border-radius: 50px;
    height: 47px;
    margin-top: 18px;
    padding-left: 30px;
    font-size: medium;
    align-items: center;
    position: absolute;
    right: 0;
    padding-right: 25px;
}

.menu{
    display: flex;
    padding-inline-start: 25%;
}

.choice{
    border-style: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 50px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-family: 'TheJamsil5Bold';
    font-size: medium;
}

.user{
    text-decoration: none;
    color: black;
    width: 200px;
    border-left: 2px solid gray;
    text-align: center;
    padding-top: 14px;
    font-size: medium;
}

.line{
    margin-top: 40px;
    border-top: 2px solid gray;
    margin-inline-start: -9px;
    margin-inline-end: -9px;
}

.tagline{
    text-decoration: none;
    color: gray;
    margin-left: 250px;
    font-family: 'TheJamsil5Bold';
    text-align: center;
    padding-left: 7%;
}

.tag{
    margin-top: 10px;
}

img{
    margin-left: 80px;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
   
}

/* .mainfirst{
    margin-top: 40px;
    border: 5px solid skyblue;
    border-radius: 50px;
    width: 80%;
    margin-left: 10%;
    height: auto;
} */
.maintop{
    background-color: #fff;
    width: 100%;
    height: auto;
}

.mainfirst{
    width: 750px;
    height: 750px;
    border: 5px solid skyblue;;
    border-radius: 50px;
    margin-top: 70px;
    position: absolute;
    left: 50%;
    margin-left: -375px;
    background-color: #fff;

}

.kakao{
    background-color: var(--blue-color);
    border-radius: 25px;
    width: 15%;
    height: 35px;
    text-align: center;
    padding-top: 14px;
    margin-left: 5px;
    
}

table, td{
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 25%;
}

th, td{
    padding: 15px;
}