@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  }
  
body{
    background-color: #96dfff;
    width: 100%;
    height: auto;
    font-family: 'TheJamsil5Bold';
    
  }

  .sm_box{
    background-color: #fff;
    border-radius: 30px;
    width: 750px;
    height: 750px;
    margin-left: -350px;
    margin-top: -350px;
    left: 50%;
    top: 50%;
    position: absolute;

    display: flex;
    flex-direction: column;
    text-align: center;
  }
  


  .box_img_src{
    width: 500px;
    margin: 0 0 0 0 ;
  }
  
  .box_text{
    margin-top: 45px;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'TheJamsil5Bold';
  }
  
  .box_input{
    border-radius: 25px;
    width: 280px;
    height: 45px;
    border: 3px solid #d9d9d9;
    margin-bottom: 40px;
    
  }
  
  ::-webkit-input-placeholder{
    text-align: center;
    font-size: 18px;
    color: #d9d9d9;
    font-family: 'TheJamsil5Bold'; 
  }
  
  .box_btn{
    text-align: center;
  }
  
  .box_btn_1{
    border-radius: 30px;
    width:200px;
    height: 30px;
  }
  
  .btn{
    border:3px solid #3DB9FF;
    width: 280px;
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    font-family: 'TheJamsil5Bold'; 
    background-color: #fff;
  }
  
  